body {
  background-color: #F5F5F5;
}

.barra-statica {
  display: flex;
  height: 95px;
  border: 1px solid #DCDCDC;
  background-color: white;
  flex-direction: row;
  align-items: center;
  position:fixed;top: 10px;
}

.barra-statica a {
  margin: 10px;
}

.barra-statica img {
  width: 80px;
  height: 80px;
  margin-left: 30px;
}

.titoli {
margin: 0 auto;
}

.titoli a {
  margin: 20px;
  font-family: cursive;
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 17;
}

a:hover {
    color: #0099FF;
}

.sfondo-primo {
  max-width: 1028px;
  height: 506px;
  background: url("x_men.jpg") no-repeat;
  margin: 120px auto;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

.sfondo-primo p {
  color: white;
  font-family: cursive;
  font-size: 60px;
  margin: 0 0 30px 0;

}

.sfondo-primo em {
  font-size: 20;
  margin: 230;
}

.blocco-primario {
  display: flex;
  background-color: white;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 30px;
  max-width: 70%;
  margin: -55px auto;
}

.barra-informativa div {
  width: 110px;
  height: 60px;
  top: 5px;
  font-family: cursive;
  font-size: 18px;
  background-color: white;
  text-align: center;
}

.barra-informativa em{
  font-size: 11px;
}

.centro-tabella {
  border: 1px solid #DCDCDC;
  border-bottom-color: white;
}

.fine-tabella {
  border: 1px solid #DCDCDC;
}

.recensione-parte1 {
  width: 803px;
  height: 600px;
  background-color: white;
  margin: 0 0 0 60px;
  font-family: cursive;
}

.video{
  margin: 85px auto;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}
