.barra-statica {
  display: flex;
  width:1310px;
  height: 65px;
  border:6px solid #C0C0C0;
  margin:10px;
  background-color:#DDDDDD;
  flex-direction: row;
  align-items: center;
}
.barra-statica a {
  margin: 5;
}
.titoli {
margin: 0 auto;
}
.titoli a {
  margin: 20;
  font-family: cursive;
  color: black;
}
.titoli a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}
a:hover {
    color: #0099FF;
}
.fondo-primo{
width="1350"
height="500"
background: url("x_men.jpg") no-repeat;
}
