.barra-statica {
  display: flex;
  width:1310px;
  height: 65px;
  border:6px solid #C0C0C0;
  margin:10px;
  background-color:#DDDDDD;
  flex-direction: row;
  align-items: center;
}
.barra-statica a {
  margin: 5px;
}
.titoli {
margin: 0 auto;
}
.titoli a {
  margin: 20px;
  font-family: cursive;
  color: black;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
    color: #0099FF;
}
.sfondo-primo {
width: 1028px;
height: 545px;
background: url("x_men.jpg") no-repeat;
margin: auto 150;
display: flex;
align-items: centre;
}
.sfondo-primo p {
  position: absolute;
	right: 400;/*distanza tra il margine destro di #posizionato e il padding di #contenitore*/
	bottom: 80;/*distanza tra il margine inferiore di #posizionato e il padding di #contenitore*/
  color: white;
  font-family: cursive;
  font-size: 60;
  margin: auto;
}
em {
  font-size: 20;
  margin: 200 150;
}
